[Unit]
Description=Init file for twitfix uwsgi instance
After=network.target

[Service]
User=dylan
Group=dylan
WorkingDirectory=/home/dylan/BetterTwitFix
Environment="PATH=/home/dylan/BetterTwitFix/venv/bin"
ExecStart=/home/dylan/BetterTwitFix/venv/bin/uwsgi --ini twitfix.ini
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
